<span id="monocle-status" style="float: right; border: 1px solid black; height: 20px; width:120px; line-height: 20px; text-align: center;">Pending</span>
<h1>Monocle</h1>
<script type="text/javascript">
    var config = {
        contextPath: '/'
    };
    var channel = '<%= current_account.id.to_s %>';
</script>
<script>
  var events = [];
<% @events.each do |event| %>
  events['<%= event._id %>'] = <%= ActiveSupport::JSON.encode(event).html_safe %>;
<% end %>
  var sessions = [];
<% @sessions.each do |session| %>
  sessions['<%= session._id %>'] = "<%= session.display %>";
<% end %>
  var local_messages = [];
<% @analytics.each do |analytic| %>
  local_messages.push({s: '<%= analytic.s %>', d: <%= ActiveSupport::JSON.encode(analytic.data).html_safe %>, ts: '<%= analytic.ts %>'});
<% end %>
</script>
<script type="text/javascript" src="/javascripts/monocle.js"></script>

<div id="messages">

</div>
