<div class="main">
  <h1>Events</h1>

  <div>
    <div style="float: right; padding: 8px; border:  1px solid black;">
      <h3>Define Event</h3>
      <%= form_tag(events_path, :method => "post") do %>
          Name<%= text_field_tag("event[display]") %>
          <br/>
          Type: <%= radio_button_tag("event[type]", 0) %>URL<br/>
          Url Pattern: <%= text_field_tag("event[pattern]") %>
          <br/>
          <%= submit_tag("Define") %>
      <% end %>
    </div>
    Total events: <%= @events.count %>
    <br/>
    <br/>
    <% @events.each do |event| %>
        <% case event.type %>
        <% when 0 %>
            UrlEvent
        <% else %>
            Unknown
        <% end %>

        | <%= link_to(event.display, event_path(event._id)) %><br />
    <% end %>
    <br/>
    <br/>
  </div>
</div>
